pandas>=2.0
numpy>=1.24
requests>=2.31
folium>=0.15
beautifulsoup4>=4.12
lxml>=4.9.3
matplotlib>=3.8
seaborn>=0.13
plotly>=5.22
dash>=2.16
python-pptx>=1.0.2
pywin32>=307; platform_system == "Windows"
kaleido>=0.2.1
reportlab
